header{
  text-align: centre;
}

#featured-property figure{
  text-align: centre;
}

nav{
  text-align: centre;
}

nav a{
  padding: 10px;
  background-color: grey;
}

#featured-property figcaption{
  font=size: smaller;
  text-align: centre;
}

#details div{
  float:left;
  width:25%;
  background-color: lightgrey;
  text-align: centre;